config WS2812_VLEDS
	tristate "WS2812 SPI virtual LED driver"
	default n
	depends on LEDS_CLASS
	help
	  This option enables support for WS2812 LEDs,
	  To compile this code as a module, choose M here.
